@font-face{
    font-family: "DIN-light";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/DINLight.ttf) format("truetype");
}
@font-face{
    font-family: "DIN-regulate";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/DINRegularAlternate.ttf) format("truetype");
}
@font-face{
    font-family: "Garamond";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/GaramondPremrPro-Capt.otf) format("opentype");
}
@font-face{
    font-family: "Garamond-2";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/GaramondPremrPro-Capt2.otf) format("opentype");
}
@font-face{
    font-family: "Garamond-3";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/GaramondPremrPro-Capt3.otf) format("opentype");
}
@font-face{
    font-family: "Heveltica";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/HelveticaNeueLTStd-BdEx.otf) format("opentype");
}
html, body {
  height: 100%;
  font-size: 100%;
}
#loading{
    background-color: #BD4539;
    position: fixed; 
    z-index: 9000;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
}
#logo_home{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#logo_menu{
    margin-top:5px;
    width:70%;
}

#menu > ul > li > a{
    font-family: 'DIN-regulate';
    font-size: 14px;
}

#menu ul li:first-child {
    background: transparent;
    /*padding: 0 0 0 10px;*/
    border: 0;
}

#menu ul li {
    background-image: url(../images/separator.svg);
    background-repeat: no-repeat;
    background-position: 0 20px;
    background-size: 4px 8px;
}

#menu > ul > li > a
{
    padding-left:3px;
}

#number{
    width: 130px;
    height:130px;
    position: absolute;
    left: -10px;
    top:80px;
}

.content-title{
    margin-top:22%;
    margin-left: 15%;
}
h1{
    font-size:500%;
    line-height:100%;
}

.color-blue{
    color:#92C1BE;
}

p{
    color:#FFF;
    font-family: 'Garamond';
    font-size:150%;
    line-height:30px;
    letter-spacing:1.5px;
    text-align: justify;
    z-index: 1001;
}

h3{
      font-family: 'Garamond';
      font-size:150%;
      font-weight: 700;
      letter-spacing:1.5px;
      margin-bottom: 5px;
      margin-top:5px;
}
/*section 1---------------*/
#left_home{
  position: absolute;
  top: 50%;
  left: 100%;
  width: 30px;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family:'DIN-light';
}

/*section2----------------*/
#img-section-2{
    padding: 0;
    margin: 0;
    margin-left:-20px;
    margin-top: -80px;
    width:100%;
}
#decorator-section-2{
  position: absolute;
  top: 80%;
  left:5%;
  width: 100px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/*section3-------------*/

.content-text-izq-section3{
    color:#FFF;
    margin-left: 15%;
     font-family: 'DIN-regulate';
    font-size:160%;
}


#up-flecha{
  position: absolute;
  top: 20%;
  left:98%;
  height: 100px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.content-text-der-section-3{
   margin-top:35%; 
}

#figure1{
    width: 80px;
    height: 80px;
    margin-top: 100px;
    left:10%;
    position: absolute;
}
#figure2{
     width: 70px;
    height: 70px;
    margin-top: 140px;
    left:50%;
    position: absolute;
}
#figure3{
    width: 90px;
    height: 90px;
    margin-top: -20px;
    left:60%;
    position: absolute;
    z-index: 1;
}

/*--section4--------*/
.content-productos-title{
    padding-left: 100px;
}
.content-productos{
    padding-left: 50px;
}
.title-productos{
    margin-top: 100px;
}

#section3 p{
    color:#000;
    font-size: 120%;
    line-height:100%;
    letter-spacing:0;
    text-align: left;
}

.foo{
    position: absolute;
  top: 95%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.right{
   position: absolute;
  top: 85%;
  left: 95%;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  z-index: 1; 
}

/*****section5*****/
.title-equipo{
    margin-top: 10%;
}

.content-father-equipo{
    padding-left: 100px;
}

h2{
   font-size:280%; 
   line-height: 100%;
}
.content-equipo{
    padding-right: 20px;
}

#section4 p{
    font-size: 180%;
    font-weight: 100 !important;
    font-family: 'Garamond-3';
    letter-spacing: 0;
    line-height: 100%;
    text-align: left;
}
#figures-equipo{
  position: absolute;
  top: 90%;
  left: 50%;
  width: 400px;
  height: 80px;
  transform: translate(-50%, -50%);
  z-index: 1;  
}
.figure-equipo{
    width: 80px;
    height: 80px;
}

/*******section6****/

h5{
    font-family: 'DIN-regulate';
    font-size:32px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#000 !important;
    text-decoration: none;
}

#content-contacto{
  position: absolute;
  top: 70%;
  left: 50%;
  width: 380px;
  height: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.ico-contact{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.foo-contac{
    position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 280px;
  transform: translate(0%, -50%);
  z-index: 1;
  background-image: url('../images/section-6/foo.png');
}


